.App {
  font-family: sans-serif;
  text-align: center;
}

.main-container {
  height: 400px;
  width: 95%;
  display: inline-block;
  border: 5px solid black;
  border-color: blue;
}

.vocab {
  float: right;
  height: 100%;
  width: 25%;
  background-color: blue;
}

.text-box {
  float: left;
  width: 75%;
  height: 100%;
  background-color: lightblue;
}

.text-itself {
  height: 80%;
  margin: 10px 30px;
  background-color: white;
}
